
spring:
  application:
    name: e-commerce
  datasource:
    url: jdbc:postgresql://localhost:5432/commerce
    username: postgres
    password: 2504
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
server:
  port: 8080
